# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# Flask / instance
instance/
*.db
*.sqlite

# Environment variables (NEVER commit)
.env

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# GCP
*.json  # service account keys

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
